:root{
    --margin-large: 24px;
}

@media (prefers-color-scheme: light){
    :root{
        --background-color: white;
        
        --text-color: black;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --background-color: rgb(60, 60, 60);
        
        --text-color: white;
    }
}