@import url('colors.css');

.tile-medium{
    /* background-color: var(--primary); */
    display: inline-block;
    width: 20%;
    margin: 2.5%;
}

.tile-small{
    /* background-color: var(--primary); */
    display: inline-block;
    width: 15%;
    margin: 2.5%;
}

.tiles{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

table.tile-table{
    width: 100%;
    border-collapse: collapse;
}

.tile-title p, .tile-description p, .tile-content p{
    padding: 0px;
    margin: 2%;
    font-weight: lighter;
    text-align: center;
}

.tile-content p{
    font-size: 96px;
}