.backdrop{
    margin-top: -25%;
    margin-left: 40%;
    height: auto;
    opacity: 0.25;
    position: absolute;
    padding: 27%;
    width: 25%;
    z-index: -1;
    float: right;
}

.item{
    height: auto;
}

.item-image{
    width: 100%;
    /* height: 100%; */
    /* margin: 0px; */
    /* overflow: hidden; */
    object-position: 50% 0%;
    object-fit: cover;
    position: absolute;
}

.item-content{
    width: 85%;
    margin: 5%;
    height: 300%;
    /* top: 50px; */
    position: relative;
    padding: 2.5%;
}

.item-block{
    width: 85%;
    margin: 5%;
    /* top: 50px; */
    position: relative;
    padding: 2.5%;
    /* margin-bottom: 0; */
    top: 0;
}

@media screen and (min-width: 500px){
    .item-image{
        height:  50%;
    }
    .item-content{
        top: 200px;
        margin-bottom: 300px;
    }
}
@media screen and (max-width: 500px){
    .item-image{
        height:  45%;
    }
    .item-content{
        width: 90%;
        margin: 0%;
        top: 100px;
        margin-bottom: 200px;
        padding: 5%;
    }
    .item li, .item ul{
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }
    .item p{
        font-size: smaller;
    }
}