@import url('toolbar.css');


#header{
    display: block;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    z-index: 500;
    width: 100%;
}

nav{
    float: left;
    /* height: auto; */
    display: block;
    overflow: visible;
    width: 100%;
}

nav a{
    color: var(--color);
    float: right;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    /* top: 0; */
}


#navbar-title a{
    color: var(--color);
    text-decoration: none;
}

/*.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */  
#navbar{
    /* background: var(--primary); */
    /* display: flex; */
    float: left;
    /* justify-content: space-between; */
    /* height: auto; */
    /* left: 0; */
    
    
    width: 100%;
    
}


@media screen and (max-width: 325px){
    nav a{
        float: right;
        width: 80%;
        padding: 0 10% 0 10%;
    }

}

@media screen and (min-width: 325px) {
    @media screen and (max-width: 500px) {
        #header{
            bottom: 0;
        }
        #navbar{
            display: flex;
            justify-content: center;
        }
    }   
}

@media screen and (min-width: 500px){        
    #header{
        top: 0;
    }
}
