@import url('dropdown.css');
@import url('toolbar.css');

#header{
    display: block;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    z-index: 500;
    width: 100%;
    transition: 1s;
}

nav{
    float: left;
    /* height: auto; */
    display: block;
    overflow: visible;
    width: 100%;
}

nav a{
    color: var(--color);
    float: right;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    /* top: 0; */
}


#navbar-title a{
    color: var(--color);
    text-decoration: none;
}

/*.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */  
#navbar{
    /* background: var(--primary); */
    /* display: flex; */
    float: left;
    /* justify-content: space-between; */
    /* height: auto; */
    /* left: 0; */
    
    
    width: 100%;
    
}

#nav-menu{
    display: none;
}

@media screen and (max-width: 325px){
    #header{
        /* bottom: -201px; */
        bottom: 0;
    }
    /* #header:active .nav-dropdown{
        bottom: 0;
    } */
    nav a{
        float: right;
        width: 80%;
        padding: 0 10% 0 10%;
    }
    /* .toolbar{
        display: none;
    } */
    #nav-menu{
        display: block;
    }
    #nav-dropdown-content{
        display: none;
    }
/* 
    .nav-dropdown{
        position: absolute;
        display: block;
        cursor: pointer;
        float: right;
    }
    
    #nav-dropdown-content{
        display: block; 
        position: relative;
        width: 160px;
        max-height: 400px;
        overflow-y: auto;
        overflow: auto;
        z-index: 1000;
        bottom: 100;
        float: left;
    } */
    
    .toolbar:active #nav-dropdown-content{
        display: block;
    }
}

@media screen and (min-width: 325px) {
    @media screen and (max-width: 500px) {
        #header{
            bottom: 0;
        }
        #navbar{
            display: flex;
            justify-content: center;
        }
    }   
}
/* 
@media screen and (max-width: 500px){        
    #header{
        top: 0;
    }
    .toolbar a{
        display: hidden !important;
    }
} */
