@import url('dropdown.css');
@import url('toolbar.css');

#header{
    display: block;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    z-index: 500;
    width: 100%;
}

nav{
    float: left;
    /* height: auto; */
    display: block;
    overflow: visible;
    width: 100%;
}

nav a{
    color: var(--color);
    float: right;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    /* top: 0; */
}


#navbar-title a{
    color: var(--color);
    text-decoration: none;
}

/*.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */  
#navbar{
    /* background: var(--primary); */
    /* display: flex; */
    float: left;
    /* justify-content: space-between; */
    /* height: auto; */
    /* left: 0; */
    
    
    width: 100%;
    
}

#nav-menu, #nav-back{
    display: none;
}

/* Original Value: 325px */
@media screen and (max-width: 400px){
    #header{
        /* bottom: -201px; */
        bottom: 0;
    }
    /* #header:active .nav-dropdown{
        bottom: 0;
    } */
    nav a{
        float: right;
        width: 80%;
        padding: 0 10% 0 10%;
    }
    /* .toolbar{
        display: none;
    } */
    #nav-menu{
        display: block;
    }
    #nav-back{
        display: none;
    }
    #nav-dropdown-content{
        display: none;
    }
    
    /*.toolbar:hover #nav-dropdown-content, .toolbar:hover #nav-back{
        display: block;
    }
    .toolbar:hover #nav-menu{
        display: none;
    }*/
}

@media screen and (min-width: 401px) {
    @media screen and (max-width: 500px) {
        #header{
            bottom: 0;
        }
        #navbar{
            display: flex;
            justify-content: center;
        }
    }   
}
